/* Swiper */
.swiper-button-prev [data-icon="chevron-left"] {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-button-next [data-icon="chevron-right"] {
  display: none;
}

/* Swiper ends */
/* section slider */
.slider-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-image: none;
}
.slider-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #0b1017cc;
  background: -webkit-linear-gradient(right, #0b1017cc, #0b1017);
  background: -moz-linear-gradient(right, #0b1017cc, #0b1017);
  background: linear-gradient(to left, #0b1017cc, #0b1017);
  z-index: 1;
  background-size: cover;
  background-position: center;
}
.slider__linked {
  margin-top: 60px;
  border-left: 3px solid var(--blue-color);
}
.slider-info__header {
  font-size: 62px;
}
.line-vertical {
  background-color: var(--blue-color);
  width: 2px;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
}
.slider-info__item--border {
  border: 1px solid var(--white-color);
  padding: 5px 8px;
}
.slider-info__item:not(:first-child) {
  margin-top: 5px;
}
.slider-info__item {
  font-weight: 500;
}
.slider-info__item:nth-child(1) {
  list-style-type: none;
}
.slider-info__item a img {
  width: 55px !important;
}
.slider-info__item a span {
  margin-left: 5px;
}
.slider-info__desc {
  width: 90%;
}
.slider-info__desc p {
  color: var(--gray-color);
  font-size: 18px;
}
.slider-info__about-list li strong {
  color: var(--blue-color);
  font-size: 18px;
  margin-right: 5px;
}
.slider-video__container img {
  max-width: 850px;
}
.slider-video__content button p {
  font-size: 25px;
}

.slider-video__img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #0a0e17;
  opacity: 0.4;
}
.playnow-btn {
  background-color: var(--blue-color);
  color: white;
  padding: 18px 35px;
  border-radius: 2px;
  font-weight: 500;
}
.playnow-btn:hover {
  background-color: var(--blue-color-hover);
  color: white;
  padding: 18px 35px;
  border-radius: 2px;
}
/* play button */
.play-button {
  font-size: 50px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.slider-video__content:hover .play-button {
  transform: scale(1.5);
}

.slider-video__content:hover .play-button::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.slider-video__content:hover button p {
  font-size: 27px !important;
  transition: font-size 0.3s ease-in-out;
}
/* play button ends */

/* end */
/* Swiper dots */
.swiper-pagination-bullet {
  width: 30px !important;
  height: 5px;
  border-radius: 0%;
  background-color: white !important;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--blue-color) !important;
}
