.loadmore-container__btn {
  background-color: var(--blue-color);
  font-size: 18px;
  padding: 6px 15px;
  font-weight: 600;
  color: white;
  border-radius: 2px;
  border: none;
  transition: 0.3s;
}
.loadmore-container__btn:hover {
  background-color: var(--blue-color-hover);
}
