.sidebar {
  background-color: #001f3f !important;
  padding: 10px;
}

.navbar-items__logo-icon {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 50%;
  font-size: 22px;
  display: inline-block;
  padding: 15px 17px;
}
.navbar-items__logo-name {
  color: var(--white-color);
  margin-left: 18px;
}
.nav-items {
  list-style: none;
  padding: 0;
}
.nav-items li {
  padding: 15px;
  transition: 0.5s;
}
.nav-items span,
.nav-items a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}
.nav-items li:hover {
  background-color: #36637e;
}
.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  list-style: none;
  visibility: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
}
.submenu li:hover {
  background-color: #001f3f;
}

.submenu.open {
  max-height: 300px; /* Adjust based on your expected submenu height */
  opacity: 1;
  visibility: visible;
}
