/* modal */
.modal-centering {
  display: flex;
  align-items: center;
}
body.modal-open {
  overflow: hidden;
}
.show,
.modal-backdrop {
  margin-top: 0 !important;
}
#youtube-iframe {
  vertical-align: bottom;
}
/* modal ends */
