.breadcrumb {
  font-family: "Jost";
  padding: 117px 0;
  margin-bottom: 90px;
  position: relative;
}
.breadcrumb:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #182031;
  opacity: 0.9;
}
.breadcrumb-top__title {
  font-size: 70px;
  font-weight: 800;
}
.breadcrumb-bottom__item {
  display: inline-block;
}
.breadcrumb-bottom__item span {
  font-weight: 600;
  font-size: 16.5px;
}
.breadcrumb-bottom__item--blue {
  color: var(--blue-color);
  font-weight: 500;
}
