.form-container {
}
.form-area:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.344);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.form_box {
  background-color: var(--dark-color);
  max-width: 800px;
  padding: 120px 80px;
  position: relative;
  z-index: 10;
}
.form-header {
  font-size: 45px;
  border-bottom: 1px solid var(--blue-color);
}
.form_box button {
  background-color: var(--blue-color);
  border: none;
  padding: 15px;
  border-radius: 2px;
  color: white;
  width: 150px;
  font-size: 25px;
}
.checkbox {
  font-size: 25px;
}
.checkbox input {
  zoom: 1.5;
}
