.movie-section {
  margin-top: 94px;
}
.movie-name__title {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  display: inline-block;
}
.movie-name__title svg {
  margin-right: 13px;
}
@media (min-width: 960px) and (max-width: 1200px) {
  .movie-wrapper {
    flex-direction: column-reverse;
  }
  .show-content__right {
    width: 100% !important;
  }
  .show-content__left {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .movie-wrapper {
    flex-direction: column-reverse;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .movie-wrapper {
    flex-direction: column-reverse;
  }
}
